<%- include("./partials/header") -%>

<h1><%=libraryName%></h1>

<div class="flashcard">
  <div class="flashcard-inner" id="flashcardInner">

    <div id="cardFaceFront" class="card-face front">
      <!-- // placeholder -->
    </div>

    <div id="cardFaceBack" class="card-face back">
      <!-- // placeholder -->
    </div>

  </div>

</div>

<div id="displayButtonDiv" class="display-button-div">

  <button class="btn btn-secondary btn-lg" id="flipButton" type="button" >FLIP!</button>

  <h3 id="checkMessage" class="hidden">How'd you go?</h3>

  <button class="btn btn-secondary btn-lg check hidden" id="correctButton" type="button">got it!</button>

  <button class="btn btn-secondary btn-lg check hidden" id="incorrectButton" type="button">not this time</button>

</div>

<script>

    // set the front and back values on page load
    async function display() {
    <%flashcards.forEach(function(flashcard) {%>
      document.getElementById('cardFaceFront').innerHTML = "<%=flashcard.question%>"
      // prevents the user from seeing the answer before flipping back over

      setTimeout(
      function(){
        document.getElementById('cardFaceBack').innerHTML = "<%=flashcard.answer%>"
      }, 500)

      await waitForClick();
    <%})%>
  }

      function waitForClick() {
        return new Promise(function(resolve, reject){
          // an array of check button elements (correct and incorrect)
          checkButtons = document.getElementsByClassName("check")

          for (i = 0; i < checkButtons.length; i++) {

            checkButtons[i].addEventListener("click", function() {
                resolve();
      })}
})}

        document.getElementById("displayButtonDiv").addEventListener("click", buttonPressHandler, false);

          function flipAndHide() {
            document.getElementById('flashcardInner').classList.toggle("flip");
            document.getElementById('flipButton').classList.toggle("hidden");
            document.getElementById('correctButton').classList.toggle("hidden");
            document.getElementById('incorrectButton').classList.toggle("hidden");
            document.getElementById('checkMessage').classList.toggle("hidden");
          }

          // a single event handler for all button inputs
          function buttonPressHandler(element) {
            // prevents a click on the parent element from triggering an action
            if (element.target !== element.currentTarget) {
              var clickedButton = element.target.id;

              // flip button actions
              if (clickedButton == "flipButton") {
                flipAndHide();
              }
              else if (clickedButton == "correctButton") {
                //alert("correct!");
                flipAndHide();

              }
              else if (clickedButton == "incorrectButton") {
                //alert("incorrect");
                flipAndHide();

              }
            }

            element.stopPropagation();
          }
display();
</script>

<%- include("./partials/footer") -%>
