<%- include("./partials/header") -%>

<h3><%=libraryName%></h3>

<section id="displaySection">

<div id="flashcardDisplay">

<div class="flashcard" id="flashcard">
  <div class="flashcard-inner" id="flashcardInner">

    <div id="cardFaceFront" class="card-face front">
      <!-- // placeholder -->
    </div>

    <div id="cardFaceBack" class="card-face back">
      <!-- // placeholder -->
    </div>

  </div>

</div>

<div id="displayButtonDiv" class="display-button-div">

  <button class="btn btn-secondary btn-lg" id="flipButton" type="button" >FLIP!</button>

  <h3 id="checkMessage" class="hidden">How'd you go?</h3>

  <button class="btn btn-secondary btn-lg check hidden" id="correctButton" type="button">got it!</button>

  <button class="btn btn-secondary btn-lg check hidden" id="incorrectButton" type="button">not this time</button>

</div>

</div>

<script>
  var correctCount = 0;
  var incorrectCount = 0;
  var totalNumberOfFlashcards = <%=flashcards.length%>;
  var startTimer = new Date();

    // set the front and back values on page load
    async function display() {
    <%flashcards.forEach(function(flashcard) {%>
      document.getElementById('cardFaceFront').innerHTML = "<%=flashcard.question%>"
      // prevents the user from seeing the answer before flipping back over

      setTimeout(
      function(){
        document.getElementById('cardFaceBack').innerHTML = "<%=flashcard.answer%>"
      }, 1000)

      await waitForClick();
    <%})%>

      hideFlashcardDisplay();

      stopwatch();

      createStatsCard();

  }

  function stopwatch() {
    const endTimer = new Date();
    const timeDiffms = Math.abs(endTimer - startTimer);
    var seconds = timeDiffms / 1000;
    const minutes = parseInt(seconds/60)
    seconds = seconds % 60
    return stopwatch = Math.floor(minutes) + " minutes & " + Math.floor(seconds) + " seconds." ;

  }

      function hideFlashcardDisplay() {
        setTimeout(function(){
          document.getElementById('flashcardDisplay').classList.add("hidden");
        }, 500)
      }

      function createStatsCard() {
        setTimeout(function(){
          const statsCard = document.createElement("div");
          statsCard.setAttribute("class", "statsCard");


          const title = document.createElement("h4");
          title.setAttribute("id", "statsTitle");
          title.innerHTML = "Statistics";

          const count = document.createElement("h4");
          count.setAttribute("id", "statsCount");
          count.innerHTML = "You got " + correctCount + " correct and " + incorrectCount + " incorrect." ;

          const totalNumber = document.createElement("h4");
          totalNumber.setAttribute("id", "statsTotal");
          totalNumber.innerHTML = "Out of a total of " + totalNumberOfFlashcards

          const timerBlurb = document.createElement("h4");
          timerBlurb.setAttribute("id", "statsTimerBlurb");
          timerBlurb.innerHTML = "You completed this library in:"

          const timer = document.createElement("h4");
          timer.setAttribute("id", "statsTimer");
          timer.innerHTML = stopwatch;

          statsCard.appendChild(title);
          statsCard.appendChild(totalNumber);
          statsCard.appendChild(count);
          statsCard.appendChild(timerBlurb);
          statsCard.appendChild(timer)

          const flashcardDisplayDiv = document.getElementById("flashcardDisplay");

          document.getElementById("displaySection").insertBefore(statsCard, flashcardDisplayDiv);

        }, 500)

      }

      function waitForClick() {
        return new Promise(function(resolve, reject){
          // an array of check button elements (correct and incorrect)
          checkButtons = document.getElementsByClassName("check")

          for (i = 0; i < checkButtons.length; i++) {

            checkButtons[i].addEventListener("click", function() {
                resolve();
      })}
})}

        document.getElementById("displayButtonDiv").addEventListener("click", buttonPressHandler, false);

      function flipAndHide() {
            document.getElementById('flashcardInner').classList.toggle("flip");
            document.getElementById('flipButton').classList.toggle("hidden");
            document.getElementById('correctButton').classList.toggle("hidden");
            document.getElementById('incorrectButton').classList.toggle("hidden");
            document.getElementById('checkMessage').classList.toggle("hidden");
          }

          // a single event handler for all button inputs
          function buttonPressHandler(element) {
            // prevents a click on the parent element from triggering an action
            if (element.target !== element.currentTarget) {
              var clickedButton = element.target.id;

              // flip button actions
              if (clickedButton == "flipButton") {
                flipAndHide();

              }
              else if (clickedButton == "correctButton") {
                correctCount++;
                document.getElementById("flashcardInner").style["boxShadow"] = "0px 3px 18px 3px #00FFAB";
                setTimeout(function(){
                  document.getElementById("flashcardInner").style["boxShadow"] = "0px 3px 18px 3px rgba(0, 0, 0, 0.2)";
                  flipAndHide();
                }, 500)

              }
              else if (clickedButton == "incorrectButton") {
                incorrectCount++;
                document.getElementById("flashcardInner").style["boxShadow"] = "0px 3px 18px 3px #FF5B00";
                setTimeout(function(){
                  document.getElementById("flashcardInner").style["boxShadow"] = "0px 3px 18px 3px rgba(0, 0, 0, 0.2)";
                  flipAndHide();
                }, 500)

              }
            }

            element.stopPropagation();
          }

// runs the display function which controls the forEach loop iteration over the flashcard array
display();

</script>

<%- include("./partials/footer") -%>
