<%- include("./partials/header") -%>

<h3><%=libraryName%></h3>

<section id="displaySection">

<div id="flashcardDisplay">

<div class="flashcard" id="flashcard">
  <div class="flashcard-inner" id="flashcardInner">

    <div id="cardFaceFront" class="card-face front">
      <!-- // placeholder -->
    </div>

    <div id="cardFaceBack" class="card-face back">
      <!-- // placeholder -->
    </div>

    <div id="hintDiv">
      <div class="popup" onmouseenter="hintPopup()" onmouseout="hintPopDown()">
        <a class="hintPrompt bi bi-question-circle" id="hintIcon">
          <span class="popuptext" id="hintText">
            <!-- populated by display() function -->
          </span>
        </a>
      </div>
    </div>

  </div>

</div>

<div id="displayButtonDiv" class="display-button-div">

  <button class="btn btn-secondary btn-lg" id="flipButton" type="button" >FLIP!</button>

  <h3 id="checkMessage" class="hidden">How'd you go?</h3>

  <button class="btn btn-secondary btn-lg check hidden" id="correctButton" type="button">got it!</button>

  <button class="btn btn-secondary btn-lg check hidden" id="incorrectButton" type="button">not this time</button>

</div>

</div>

<script>

  var correctCount = 0;
  var incorrectCount = 0;
  var totalNumberOfFlashcards = <%=flashcards.length%>;
  var startTimer = new Date();

    // set the front and back values on page load
    async function display() {
    <%flashcards.forEach(function(flashcard) {%>
      document.getElementById('cardFaceFront').innerHTML = "<%=flashcard.question%>"

      // populates the hint text
      document.getElementById('hintText').innerHTML = "<%=flashcard.hint%>"
      // prevents the user from seeing the answer before flipping back over
      setTimeout(
      function(){
        document.getElementById('cardFaceBack').innerHTML = "<%=flashcard.answer%>"
      }, 1000)

      await waitForClick();
    <%})%>

      hideFlashcardDisplay();

      stopwatch();

      createStatsCard();

  };
        document.getElementById("displayButtonDiv").addEventListener("click", buttonPressHandler, false);

          // a single event handler for all button inputs
          function buttonPressHandler(element) {
            // prevents a click on the parent element from triggering an action
            if (element.target !== element.currentTarget) {
              var clickedButton = element.target.id;

              // flip button actions
              if (clickedButton == "flipButton") {
                flipAndHide();

              }
              else if (clickedButton == "correctButton") {
                correctCount++;
                document.getElementById("flashcardInner").style["boxShadow"] = "0px 3px 18px 3px #00FFAB";
                setTimeout(function(){
                  document.getElementById("flashcardInner").style["boxShadow"] = "0px 3px 18px 3px rgba(0, 0, 0, 0.2)";
                  flipAndHide();
                }, 500)

              }
              else if (clickedButton == "incorrectButton") {
                incorrectCount++;
                document.getElementById("flashcardInner").style["boxShadow"] = "0px 3px 18px 3px #FF5B00";
                setTimeout(function(){
                  document.getElementById("flashcardInner").style["boxShadow"] = "0px 3px 18px 3px rgba(0, 0, 0, 0.2)";
                  flipAndHide();
                }, 500)

              }
            }

            element.stopPropagation();
          };

// runs the display function which controls the forEach loop iteration over the flashcard array
$(document).ready(function(){

display();

});

</script>

<%- include("./partials/footer") -%>
