<%- include("./partials/login-header") -%>

<form action="/register" method="post">

<div class="" id="inputContainer">


<div class="register-input" id="register-input">
    <h1>Register</h1>

    <p class="errorText"><%=errorUserExists%></p>

  <div class="form-group">
    <label for="displayName">Display Name</label>
    <input maxlength="20" class="form-control" type="text" name="displayName" required value=<%=displayName%>></input>
  </div>

  <div class="form-group">
    <label for="userEmail">Email</label>
    <input class="form-control" type="email" name="userEmail" required value=<%=userEmail%>></input>
  </div>

  <div class="form-group">
    <label for="userPassword">Password</label>
    <input minlength="8" class="form-control" type="password" name="userPassword" required></input>
  </div>

  <div class="form-group">
    <button class="btn btn-secondary btn-md" type="submit" name="button">Register</button>
  </div>

  <div class="form-group">
    <p>Already have an account? Log in <a href="/login"><u>here</u></a></p>
  </div>

</div>

</div>

</form>


<%- include("./partials/footer") -%>
